/* Basic Portfolio CSS Stylesheet */
/* General Body Styling */
body {
  width: 960px;
  background-image: url(../images/spiration-light.png);
  margin-left: auto;
  margin-right: auto;
}

/* Div Top Bar Section Styling */
.header {
  display: flex;
  justify-content: space-between;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/* 'Your Name' Box Styling */
h1 {
  background-color: #4aaaa5;
  color: #ffff;
  padding: 14px 16px;
}

/* 'About Me', 'Portfolio', 'Contact' Styling */
h2 {
  color: #4aaaa5;
}

/* Profile Picture Styling */
#bio-image {
  float: left;
  margin-right: 10px;
}

/* Hides Box Overflow for 'About', 'Portfolio', 'Contact' Links */
.topnav {
  overflow: hidden;
}

/* Box Styling for Portfolio Section */
.icon {
  position: relative;
  float: left;
  margin: 5px;
  font-size: 14px;
  text-align: center;
}

/* Text Styling for Portfolio Section */
h3 {
  position: absolute;
  top: 145px;
  width: 180px;
  padding: 10px;
  color: #ffff;
  background-color: #4aaaa5;
}

/* Styling for 'About' 'Portfolio' 'Contact' Links */
.topnav a {
  float: left;
  color: #777777;
  text-align: center;
  padding: 14px 16px;
}

/* Animates links in Top Bar Section */
.topnav a:hover {
  background-color: #4aaaa5;
  color: black;
}

/* Main Div Section Styling */
div.container {
  padding: 20px;
  background-color: white;
  font-family: arial, 'Helvetica Neue', Helvetica, sans-serif;
  height: 600px;
}

/* Contact Page Box Styling */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Not sure if I need this..
input[type=submit]:hover {
  background-color: #ddd; */


/* Footer Styling */
.footer {
    background-color: #666666;
    color: #ffffff;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 10px;
    text-align: center;
    height: 50px;
    bottom: 0px;
    width: 100%;
}
